---
import Layout from "../layouts/Layout.astro";
import ChooseUs from "../components/chooseUs.astro";
import Banner from "../components/banner.astro";
---

<Layout title="Index page">
  <Banner imageName="home_banner_ipbudt.png">
    <div
      class="absolute flex justify-center items-center top-[4rem] md:top-[6rem] lg:top-[10rem] h-full w-full"
    >
      <div class="space-y-2 md:space-y-4">
        <h1 class="text-lg text-center md:text-3xl font-extrabold text-accent">
          50% Off
        </h1>
        <button
          class="text-md md:text-xl bg-accent hover:bg-accent/90 text-accent-content uppercase px-5 py-1 md:py-2 uppercas transition duration-300 ease-in-out"
        >
          Join now
        </button>
      </div>
    </div>
  </Banner>
  <ChooseUs />
  <section role="region" aria-labelledby="about-us">
    <div id="about-us">
      <Banner imageName="about_us_j9odx5.png">
        <div class="absolute flex flex-col justify-center h-full">
          <div class="w-2/3 px-5 md:w-full md:px-10">
            <h2
              class="text-md md:text-2xl md:text-4xl font-extrabold text-primary"
            >
              About Us
            </h2>
            <p class="text-sm md:text-lg text-accent-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>
        </div>
      </Banner>
    </div>
  </section>
</Layout>
