---
import Layout from "../layouts/Layout.astro";
import ChooseUs from "../components/chooseUs.astro";
import Banner from "../components/banner.astro";
import Numbers from "../components/numbers.astro";
import AboutUsOVerview from "../components/aboutUsOVerview.astro";
---

<Layout title="Index page">
  <Banner imageName="home_banner_ipbudt.png">
    <div
      class="absolute flex justify-center items-center top-[4rem] md:top-[6rem] lg:top-[10rem] h-full w-full"
    >
      <div class="space-y-2 md:space-y-4">
        <h1 class="text-lg text-center md:text-3xl font-extrabold text-accent">
          50% Off
        </h1>
        <button
          class="text-md md:text-xl bg-accent hover:bg-accent/90 text-accent-content uppercase px-5 py-1 md:py-2 uppercas transition duration-300 ease-in-out"
        >
          Join now
        </button>
      </div>
    </div>
  </Banner>
  <ChooseUs />
  <section
    role="region"
    aria-labelledby="about-us"
    class="bg-gradient-to-l from-accent/50 full-bleed"
  >
    <div id="about-us">
      <Banner imageName="about_us_2_mew2u4.png" className="hidden md:block">
        <div class="absolute flex flex-col justify-center h-full">
          <AboutUsOVerview />
        </div>
      </Banner>
      <div class="block md:hidden p-5">
        <AboutUsOVerview />
      </div>
    </div>
  </section>
  <section role="region" aria-labelledby="our-service">
    <div
      id="our-service"
      class="bg-gradient-to-b from-accent pt-20 h-[50rem] overflow-visible"
    >
      <div class="flex justify-center">
        <div class="space-y-2 max-w-2xl">
          <h2
            class="uppercase text-xl text-center md:text-2xl text-accent-content font-bold"
          >
            Our services
          </h2>
          <h3
            class="uppercase text-3xl text-center md:text-5xl font-extrabold text-primary-content"
          >
            Solutions for moving better & Feeling healthier
          </h3>
        </div>
      </div>
    </div>
  </section>
</Layout>
