---

---

<section role="region" aria-labelledby="contact-us" class="pt-3 md:pt-0">
  <div id="contact-us" class="flex flex-col w-full items-center md:items-start">
    <h2 class="uppercase font-bold text-xl leading-8 pb-3 truncate">
      Contact Us
    </h2>
    <div class="space-y-2">
      <h3 class="capitalize text-md text-accent-content">Address:</h3>
      <p class="text-sm text-accent-content/60">
        12 Somewhere street, PG 3434, Netherlands
      </p>
      <h3 class="capitalize text-md text-accent-content">Email:</h3>
      <p class="text-sm text-accent-content/60">Info@fitness.nl</p>
      <h3 class="capitalize text-md text-accent-content">Phone:</h3>
      <p class="text-sm text-accent-content/60">+31644123456</p>
    </div>
  </div>
</section>
