---
import { cn } from "../utils";
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section
  class={cn(
    "bg-card/10 p-5 w-full min-h-3 h-full transition duration-300 ease-linear border-2 border-primary hover:border-accent shadow",
    className,
  )}
>
  <slot />
</section>
