---
import OurServiceCard from "./ourServiceCard.astro";
---

<section role="region" aria-labelledby="our-service">
  <div
    id="our-service"
    class="bg-gradient-to-b from-accent w-full max-h-fit pt-20 pb-20 full-bleed"
  >
    <div class="flex justify-center pb-10">
      <div class="space-y-2 max-w-2xl">
        <h2
          class="uppercase text-xl text-center md:text-2xl text-accent-content font-bold"
        >
          Our services
        </h2>
        <h3
          class="uppercase text-3xl text-center md:text-5xl font-extrabold text-primary-content"
        >
          Solutions for moving better & Feeling healthier
        </h3>
      </div>
    </div>
    <div class="relative">
      <div
        class="grid grid-cols-1 md:grid-cols-2 max-w-screen-lg mx-auto gap-3 p-3"
      >
        <OurServiceCard
          title="Personal Training"
          image="personal_traniner_gsgas1.png"
          description="Auia voluptas sit aspernatur aut odit aut fugi sea conseaunta magni dolores eos…"
          link="#"
        />

        <OurServiceCard
          title="Yoga Lessons"
          image="yoga_lesson_a9lklt.png"
          description="Auia voluptas sit aspernatur aut odit aut fugi sea conseaunta magni dolores eos…"
          link="#"
        />

        <OurServiceCard
          title="Boxing Martial Arts"
          image="boxing_hsjgua.png"
          description="Auia voluptas sit aspernatur aut odit aut fugi sea conseaunta magni dolores eos…"
          link="#"
        />
        <OurServiceCard
          title="Online Coaching"
          image="online_coaching_iqs6df.png"
          description="Auia voluptas sit aspernatur aut odit aut fugi sea conseaunta magni dolores eos…"
          link="#"
        />

        <div class="md:col-span-2 place-self-center pt-5">
          <button
            class="text-md md:text-xl bg-accent hover:bg-accent/90 text-accent-content uppercase px-5 py-1 md:py-2 uppercas transition duration-300 ease-in-out"
          >
            Join now
          </button>
        </div>
      </div>

      <div
        class="after:absolute after:top-80 after:left-0 after:w-full after:h-full after:bg-white after:z-[-1]"
      >
      </div>
    </div>
  </div>
</section>
