---

---

<section role="region" aria-labelledby="subscribe" class="px-5">
  <div id="subscribe">
    <form class="flex flex-col w-full space-y-2">
      <label
        for="email"
        class="uppercase font-bold text-xl leading-8 pb-3 truncate"
        >Subscribe to our newsletter</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="p-3 text-secondary-content"
        placeholder="Enter your email address"
      />
      <button
        type="submit"
        class="p-3 bg-secondary hover:bg-secondary/80 transition ease-in"
        >Subscribe</button
      >
    </form>
  </div>
</section>
